
/*Page styles*/
html { height: 100%; }

body {
    height: 100%;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Raleway',sans-serif;
}

.sub-container{
    margin-top: 40%;
}

.bi-person-circle{
    font-size: 120px;
    display: block;
    margin: 0 auto;
    margin-top: 44%;
}

.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}

ul {
    -webkit-padding-start: 0px;
    margin-top: 75%;
}

ul li {
   
    display: inline-block;
    background-color: #555555;
    padding:20px;
    margin: 15px;
    border-radius: 50%;
    
}
ul li i {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: 32px;
    width: 32px;
}

ul li:last-child{
    background-color: red;
}

.clicked{
    background-color: #d3d3d3;
}

/* ul li a:hover, ul li a:active {
    color: lightsalmon;
    text-decoration: none;
  } */
  

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: left;
}
.btn-small{
    height: 36px;
    border-radius: 5px;
    border-color: #10069f;
    background-color: #10069f;
    color: white;
    font-size: 16px;
    align-self: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.reportButton{
    position: absolute;
    right: 18px;  
    top: 18px;
}

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  margin-top: 40px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 10px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    position: absolute;
    left: 0;

}
/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
